@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

#root {
  font-family: 'inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
